<form (submit)="onAddPerson()" class="form-control row">
    <h4 class="text-center">Add phone form</h4>
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" name="firstName" [(ngModel)]="item.firstName" class="form-control" placeholder="Name">
    </div>
    <div class="mb-3">
        <label class="form-label">Surename</label>
        <input type="text" name="surename" [(ngModel)]="item.lastName" class="form-control" placeholder="Surename">
    </div>
    <div class="mb-3">
        <label class="form-label">Phone</label>
        <input type="text" name="phone" [(ngModel)]="item.phone" class="form-control" placeholder="Phone">
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="text" name="phone" [(ngModel)]="item.email" class="form-control" placeholder="Phone">
    </div>
    <input type="submit" class="btn btn-primary" value="Save"/>
</form>